<launch>
    <node pkg="ros_pi_pwm" type="pwm.py" name="pwm_node"/>

    <node pkg="carmaster" type="main.py" name="carmaster_node"/>

    <!-- TO ADD: Image sender -->

    <include file="$(find amr-stream)/launch/webcam-small.launch">

	  	<!-- set camera fps to (if the device allows) -->
  	    <arg name="colors" default="true" />
	  	<arg name="fps" value="15"/>
		<arg name="video_stream_provider" default="0" />
        <arg name="width" value="300"/>
	    <arg name="height" value="100"/>

    </include>

</launch>